.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  margin-top: 20px;
  text-align: center;
  background-color: #3be76679;
  border-radius: 10px;
}

.app-title {
  font-size: 35px;
  display: inline-block;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
}

.content-container {
  display: flex;
  gap: 20px;
}

.task-table-container {
  flex: 2;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
